body{
    background: rgb(133,14,53);
    background: linear-gradient(45deg, rgba(133,14,53,1) 50%, rgba(255,245,228,1) 50%); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#task_input {
    font-weight: bold;
    border-radius: 0 0 0 0.375rem ;
    background-color: #FFF5E4;
    border-color: #850E35;
    border-top: 0;
}

#submit_button {
    border-radius: 0 0 0.375rem 0;
    font-weight: bold;
    background-color: #850E35;
    color:aliceblue;
    border: 0;
}
#list_container {
    background-color:#E8D2C3;
    max-width: 40%;
    border-radius: 4em;
}

.list-item{
    background-color: #FFF5E4;
    border-color:#850E35;
}

input {
    min-width: 20px;
    min-height: 20px;
}
input[type="checkbox"]:enabled:checked {
    background-color:#850E35 !important;
    color: white;
}

#header {
    background-color:#FFF5E4;
}

#footer {
    margin-top: auto;
    background-color:#850E35;
}

footer > p{
    color: aliceblue;
    font-weight: bold;
}

/* #7ea0d3
#1b0b09
#b3843d */